.paddingNav {
    padding-left: 20%;
}

.sideNavPadding {
padding-top: 5%;
}

.logoContainer  {
    padding-bottom: 25%;
}

.logOutContainer {
    padding-top: 80%;
}

.linkContainer {
    padding-top: 10%;
    padding-bottom: 10%;
}
